.author-box-large__author-link-cell {
    display: flex;
    align-items:center
}

.author-box-large__author-photo {
    display: block;
    margin: 0 10px 0 0;

    .author-box-large__author-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.author-box-large__author-name {
    color: var(--opposite-color);
    font-family: var(--first-font);
    font-weight: 700;
}

@media screen and (max-width: 746px) {
    .author-box-large__author-photo {
        width: 50px;
        height: 50px;
    }
}

@media screen and (min-width: 747px) {
    .author-box-large__author-photo {
        width: 80px;
        height: 80px;
    }
}

