.category-types-item__title {
    font-family: var(--first-font);
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;
    color: #000;
}

.category-types-item {
    margin-right: var(--category-gap);
    background-color: var(--main-color);
    padding: 10px 12px;
}