.main__category-types {
    margin: 10px 0 -5px 10px;
    display: flex;
}

.main__footer {
    margin-top: 10px;
    height: 500px;

    background-color: var(--main-color);
}

@media screen and (max-width: 746px) {
    .main__category {
        margin: 0 0 10px 5px;
    }

    .main__news {
        margin: 0 5px;
    }
}

@media screen and (min-width: 747px) {
    .main__category {
        margin: 0 0 10px 10px;
    }

    .main__news {
        margin: 0 10px 10px 10px;
        display: grid;
        grid-template-columns: 2fr 1fr;
        grid-gap: 10px;
    }

    .main__news-2 {
        margin: 0 10px 10px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        grid-gap: 10px;
    }

    .main__news-3 {
        margin: 0 10px 10px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-gap: 10px;
    }

    .main__news-4 {
        margin: 0 10px 10px 10px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        grid-gap: 10px;
    }
}