.news-list-item__link {
    position: relative;
    padding: 10px 20px 40px;
    overflow: hidden;
    display: block;

    color: var(--opposite-color);
    font-family: var(--second-font);
    font-size: 16px;
    line-height: 22px;
}

.news-list-item__info {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 0;
}

.news-list-item__date {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    margin: 10px 10px 10px 15px;

    line-height: 22px;
    color: var(--other-color);
    font-family: var(--first-font);
}

.news-list-item__share {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    margin: 10px 15px 10px 10px;

    color: var(--other-color);
    font-family: var(--first-font);
    font-weight: 300;
}