.news-list__news-list-item {
    position: relative;
    width: 100%;
    background-color: var(--main-color);
    border-radius: 2px;
}

@media screen and (max-width: 746px) {
    .news-list {
        display: flex;
        flex-direction: column;
        margin: 0px 0px 10px;
    }
}

@media screen and (min-width: 747px) {
    .news-list {
        flex:1;
        display: flex;
        flex-direction: column;
    }

    .news-list__news-list-item {
        flex:1;
    }
}