.new-page {
    background-color: var(--main-color);

    text-decoration: none;
    font-family: var(--first-font);
}

.new-page__page {
    max-width: 600px;
    margin: 0 auto;
    padding-top: 10px;
}

.new-page__time {
    font-size: 12px;
    line-height: 20px;
    font-weight: 500;
    color: var(--other-color);
}

.new-page__new-image-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.new-page__new-image-title {
    font-family: var(--second-font);
    color: var(--other-color-2);
}

.new-page__new-image-box {
    margin-bottom: 10px;
}

.new-page__new-text {
    font-family: var(--second-font);
    font-size: 16px;
    line-height: 25px;
}

.new-page__chat {
    margin: 0 auto;
    height: 30px;
    width: 200px;
    background-color: var(--style-color);
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 16px 36px;
    cursor: pointer;
}

.new-page__chat-img {
    border-radius: 50%;
}

.new-page__chat-title {
    color: var(--main-color);
    font-family: var(--first-font);
    font-size: 20px;
    font-weight: bold;
}

@media screen and (max-width: 746px) {
    .new-page__page {
        margin: 0 10px;
        padding-top: 10px;
    }

    .new-page__new-image-box {
        margin: 10px 0;
    }
}

@media screen and (min-width: 747px) {
    
}