.author-list {
    display: flex;
    flex-direction: column;
}

//Юзай вложенность scss https://sass-lang.com/documentation/style-rules/declarations#nesting
.author-list__item {
    position: relative;
    width: 100%;
    height: 100%;
    background-color: var(--main-color);
    overflow: hidden;
    border-radius: 2px;
}

.author-list__title-link {
    position: relative;
    padding: 20px 20px 0px; // я писал, если значение любого свойства =0, то можно не писать единицы измерения
    overflow: hidden;
    display: block;

    text-decoration: none;
    color: var(--opposite-color);
    font-family: var(--first-font);
}

.author-list__title-link-cell {
    display: flex;
}

.author-list__new-title {
    flex: 1;
}

.author-list__new-photo {
    display: block;
  // как правило, не юзают значения кроме 50% и 100% у width (если в процентах), вместо этого лучше пользоваться средствами flex-ов
    width: 30%;

  // На прошлом созщвоне обсуждали, спецефичность этого класса будет больше чем 1, не надо так,
  // если тебе нужно задать стили только для картинок внутри author-list__new-photo, то можно создать класс, специально для этих картинок, при помощи модификатора
  // к примеру будет что-то вроде author-list__new-image_modificator-name
  // А вообще, у тебя в 44 и 73 строках классы почти идентичные, можно это всё вынести в одинг класс или миксин  и переиспользовать её
  // старайся переиспользовать классы вместо копипасты
    .author-list__new-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}

.author-list__author-link {
    position: relative;
    padding: 10px 20px 40px;
    overflow: hidden;
    display: block;

    text-decoration: none;
    color: var(--opposite-color);
    font-family: var(--second-font);
}

.author-list__author-link-cell {
    display: flex;
    align-items:center
}

.author-list__author-photo {
    width: 35px;
    height: 35px;
    display: block;
    margin: 0 10px 0 0;

    .author-list__author-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 50%;
    }
}

.author-list__author-name {
    color: var(--opposite-color);
    font-family: var(--first-font);
    font-weight: 700;
}

.author-list__info {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 0;
}

.author-list__date {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    margin: 10px 10px 10px 15px;

    line-height: 22px;
    color: var(--other-color);
    font-family: var(--first-font);
}

.author-list__share {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin: 10px 15px 10px 10px;

    color: var(--other-color);
    font-family: var(--first-font);
    font-weight: 300;
}

@media screen and (max-width: 746px) {
    .author-list {
        margin: 0px 0px 10px;
    }
}

// пустой?
@media screen and (min-width: 747px) {

}
