.category::-webkit-scrollbar {
    width: 0;
}

.category-item__title {
    font-family: var(--first-font);
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;
    color: #000;
}

.category-types::-webkit-scrollbar {
    width: 0;
}

.category-types-item__title {
    font-family: var(--first-font);
    font-weight: bold;
    font-size: 15px;
    white-space: nowrap;
    color: #000;
}

.category-types-item {
    margin-right: var(--category-gap);
    background-color: var(--main-color);
    padding: 10px 12px;
}


@media screen and (max-width: 746px) {
    .category-item {
        margin-right: var(--category-gap);
        background-color: var(--main-color);
        padding: 10px 12px;
    }
}

@media screen and (min-width: 747px) {
    .category-item {
        margin-right: var(--category-gap);
        background-color: var(--main-color);
        padding: 9px 12px;
    }
}