.horisontal-news-list {
    display: flex;
    flex-direction: row;
    // https://ru.bem.info/methodology/quick-start/#%D0%B1%D0%BB%D0%BE%D0%BA
    // Блок не должен влиять на свое окружение, т. е. блоку не следует задавать внешнюю геометрию (в виде отступов, границ, влияющих на размеры) и позиционирование.
    margin: 0px -5px;
    padding-left: 5px;
    overflow: scroll;
    height: 295px;
    background-color: var(--main-color);
}

.horisontal-news-list__item {
    position: relative;
    display: block;

    background-color: var(--main-color);
}

.horisontal-news-list::-webkit-scrollbar {
    width: 0;
}

.horisontal-news-list__new-photo {
    display: block;
    // Не надо задавать значения в дробях (за исключением пары свойств), ибо некоторые браузеры могут по-разному округлять значения
    // Юзай целочисленные
    width: 195.55px;
    height: 110px;

    .horisontal-news-list__new-image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        overflow: hidden;
    }
}

.horisontal-news-list__link {
    position: relative;
    display: block;
    width: 195.55px;
    height: 110px;
    margin: 20px 20px;

    color: var(--opposite-color);
    font-family: var(--first-font);
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
}

.horisontal-news-list__new-title {
    max-height: 88px;
    overflow: hidden;
	text-overflow: ellipsis;
	display: -webkit-box;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
}

.horisontal-news-list__info {
    position: absolute;
    left: 5px;
    right: 5px;
    bottom: 0;
}

.horisontal-news-list__date {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 10;
    margin: 10px 10px 10px 15px;

    font-size: 12px;
    color: var(--other-color);
    font-family: var(--first-font);
}

.horisontal-news-list__share {
    display: block;
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 10;
    margin: 10px 15px 10px 10px;

    color: var(--other-color);
    font-family: var(--first-font);
    font-weight: 300;
}

@media screen and (max-width: 746px) {
    
}

@media screen and (min-width: 747px) {
    
}
